.jumbotron {
    background-color: rgb(50, 137, 192);
}

h1 {
    font-weight: bold;
}

table {
    margin-left: 20px;
    margin-right: 20px;
}

.row-color {
    background-color: rgb(50, 137, 192);
    opacity: .5;
}

.total {
    padding-left: 20px;
    margin-bottom: 20px;
}

.form-title {
    border-bottom: 1px solid #ced4da;
    background-color: rgb(50, 137, 192);
    opacity: .5;
    padding: 0px;
}

.panel {
    /* padding: 10px; */
    padding-top: 0px;
    border: 1px solid #ced4da;
}